<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${file.frontMatter.title}</title>
    <link href="ui/styles.css" rel="stylesheet" />
</head>

<body>
    <header>
        <img src= images/${file.frontMatter.banner} alt="${file.frontMatter}" />
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="inventory.html">Inventory</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            ${contents}
        </article>
    </main>
    <footer>
        <address><a href="https://www.google.com/maps/place/1234+Elm+St,+Port+Colborne,+ON/@42.9138095,-79.2573903,17z/data=!3m1!4b1!4m5!3m4!1s0x89d336dadce5defb:0x67f25369b8b9d29b!8m2!3d42.9138095!4d-79.2552016">1234 Elm Street, Windsor ON</a></address>
    </footer>
</body>

</html>
